.wrapper_time {
    margin-top: 5px;
}

.time {
    width: 100px;
    height: 50px;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.active {
    background-color: rgb(255, 255, 255);
}